
<div *ngIf="msgErro" role="alert" class="alert alert-danger">
    <button (click)="msgErro=''" class="close" type="button">x</button>
    <h1>Erro ao tentar fazer login:</h1>
    <p>{{msgErro}}
    </p>
</div>

<div class="col-md-6 jumbotron" id="form-login">
    <div id="div-img" *ngIf="usuario">
        <img [src]="pathLogo" id="img"/>
    </div>
    <form name="form" (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
        <div class="form-group" [ngClass]="{'has-error': !form.submitted && !login.valid }">
            <label for="login">Login</label>
            <input type="text" class="form-control" name="login" [(ngModel)]="model.login" #login="ngModel" required />
            <div *ngIf="(!login.valid && !login.pristine)" class="alert alert-danger">Login é de preenchimento obrigatório</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': !form.submitted && !senha.valid }">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" name="senha" [(ngModel)]="model.senha" #senha="ngModel" required />
            <div *ngIf="(!senha.valid && !senha.pristine)" class="alert alert-danger">Senha é de preenchimento obrigatório</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading || !form.form.valid" class="btn btn-primary" (click)="submit" >Login</button>
            <a  routerLink="/cadastro" class="btn btn-link">Cadastrar-se</a>
        </div>
    </form>
</div>