td{
  cursor: pointer;
}
#tb-telaEventos{
  margin-top: 30px;
}

div>div.buttons{
  display: inline;
  margin-left: 395px;
}
.noSpace{
  line-height: 4.6px;
}



/*.btnVoltar{
  margin-bottom: 15px;
}*/
