<h1>Eventos</h1>
<div [hidden]="tela!='novoEvento' && tela!='editarEvento'">
    <h2>Cadastro de eventos</h2>
    <form (ngSubmit)="onSubmit(); formCadastro.reset();" #formCadastro="ngForm">
        <div class="form-group">
            <label for="nome">
                Nome
            </label>
            <input type="text" id="nome" name="nome" class="form-control"
                   [(ngModel)]="evento.nome" #nome="ngModel"
                   placeholder="Nome do evento" required>
            <div class="alert alert-danger" [hidden]="nome.valid || nome.pristine">Você deve informar o nome do
                evento.
            </div>
        </div>

        <div class="form-group">
            <label for="sigla">Sigla</label>
            <input type="text" id="sigla" name="sigla" class="form-control"
                   [(ngModel)]="evento.sigla" #sigla="ngModel"
                   placeholder="Sigla do evento" required>
            <div class="alert alert-danger" [hidden]="sigla.valid || sigla.pristine">Você deve informar a sigla do
                evento.
            </div>
        </div>

        <div class="form-group">
            <label for="inicio">
                Data de Inicio
            </label>
            <input type="text" id="inicio" name="inicio" class="form-control"
                   [(ngModel)]="evento.inicio" #inicio="ngModel"
                   placeholder="Data de Inicio" required>
            <div class="alert alert-danger" [hidden]="inicio.valid || inicio.pristine">Você deve informar a data de
                inicio do evento.
            </div>
        </div>

        <div class="form-group">
            <label for="inicio">
                Data de Termino
            </label>
            <input type="text" id="termino" name="termino" class="form-control"
                   [(ngModel)]="evento.termino" #termino="ngModel"
                   placeholder="Data de Termino" required>
            <div class="alert alert-danger" [hidden]="termino.valid || termino.pristine">Você deve informar a data de
                termino do evento.
            </div>
        </div>

        <div class="form-group">
            <label for="url">
                URL
            </label>
            <input type="url" id="url" name="url" class="form-control"
                   [(ngModel)]="evento.url" #url="ngModel"
                   placeholder="URL" required>
            <div class="alert alert-danger" [hidden]="url.valid || url.pristine">Você deve informar a url do evento.
            </div>
        </div>

        <div class="form-group">
            <label for="cidade">
                Cidade
            </label>
            <input type="text" id="cidade" name="cidade" class="form-control"
                   [(ngModel)]="evento.cidade" #cidade="ngModel"
                   placeholder="Cidade" required>
            <div class="alert alert-danger" [hidden]="cidade.valid || cidade.pristine">Você deve informar a Cidade do evento.
            </div>
        </div>

        <div class="form-group">
            <label for="estado">
                Estado
            </label>
            <input type="text" id="estado" name="estado" class="form-control"
                   [(ngModel)]="evento.estado" #estado="ngModel"
                   placeholder="Estado" required>
            <div class="alert alert-danger" [hidden]="estado.valid || estado.pristine">Você deve informar o Estado do evento.
            </div>
        </div>

        <div class="form-group">
            <label for="local">
                Local
            </label>
            <input type="text" id="local" name="local" class="form-control"
                   [(ngModel)]="evento.local" #local="ngModel"
                   placeholder="Local" required>
            <div class="alert alert-danger" [hidden]="local.valid || local.pristine">Você deve informar o local do evento.
            </div>
        </div>

        <button type="button" class="btn btn-primary" (click)="tela='home';">Voltar</button>
        <button type="submit" class="btn btn-success" [disabled]="!formCadastro.form.valid">Salvar</button>
        <button type="button" class="btn btn-danger" (click)="novoEvento(); formCadastro.reset();" [disabled]="!formCadastro.form.valid">Cancelar</button>
        <button type="button" class="btn btn-default" (click)="novoEvento(); formCadastro.reset();">Novo</button>
    </form>
</div>

<div [hidden]="tela!='cadSucesso'">
    <div class="alert alert-success">
        <button type="button" class="close" (click)="tela='home';">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>Dados cadastrados com sucesso!</p>
    </div>
    <button type="button" class="btn btn-primary" (click)="tela='home';">Voltar</button>
</div>

<div [hidden]="tela!='editadoSucesso'">
    <div class="alert alert-success">
        <button type="button" class="close" (click)="tela='home';">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>Dados alterados com sucesso!</p>
    </div>
    <button type="button" class="btn btn-primary" (click)="tela='home';">Voltar</button>
</div>

<div [hidden]="tela!='home'">
    <h2>Eventos existentes</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Ações</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Data Inicio</th>
            <th>Data Termino</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Local</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evento of eventos; let i=index;">
                <td *ngIf="i<3"><button type="button" class="btn btn-info" (click)="verEvento(evento);">Visualizar</button></td>
                <td *ngIf="i<3">{{ evento.nome }}</td>
                <td *ngIf="i<3">{{ evento.sigla }}</td>
                <td *ngIf="i<3">{{ evento.inicio }}</td>
                <td *ngIf="i<3">{{ evento.termino }}</td>
                <td *ngIf="i<3">{{ evento.cidade }}</td>
                <td *ngIf="i<3">{{ evento.estado }}</td>
                <td *ngIf="i<3">{{ evento.local }}</td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <button type="button" class="btn btn-primary" (click)="tela='todosEventos';">Ver todos</button>
    <button type="button" class="btn btn-success" (click)="tela='novoEvento';">+ Novo Evento</button>
</div>


<div [hidden]="tela!='todosEventos'">
    <h2>Eventos existentes</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Ações</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Data Inicio</th>
            <th>Data Termino</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Local</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let evento of eventos">
            <td><button type="button" class="btn btn-info" (click)="verEvento(evento);">Visualizar</button></td>
            <td>{{ evento.nome }}</td>
            <td>{{ evento.sigla }}</td>
            <td>{{ evento.inicio }}</td>
            <td>{{ evento.termino }}</td>
            <td>{{ evento.cidade }}</td>
            <td>{{ evento.estado }}</td>
            <td>{{ evento.local }}</td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <button type="button" class="btn btn-primary" (click)="tela='home';">Voltar</button>
    <button type="button" class="btn btn-success" (click)="tela='novoEvento';">+ Novo Evento</button>
</div>


<div [hidden]="tela!='verEvento'">
    <h2>Detalhes do Evento</h2>
    <div *ngIf="eventoSelecionado" id="detalhes" class="alert alert-info">
        <button type="button" class="close" (click)="tela='home';">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>{{eventoSelecionado.nome}} - {{eventoSelecionado.sigla}}</h3>
        <p>De {{eventoSelecionado.inicio}} a {{eventoSelecionado.termino}},
            em {{eventoSelecionado.cidade}} - {{eventoSelecionado.estado}},
            no(a) {{eventoSelecionado.local}}.</p>
        <p>Mais informações no site <a [href]="eventoSelecionado.url">{{eventoSelecionado.url}}</a>.</p>
    </div>
    <button type="button" class="btn btn-primary" (click)="tela='home';">Voltar</button>
    <button type="button" class="btn btn-success" (click)="editarEvento(eventoSelecionado);">Editar</button>
    <button type="button" class="btn btn-danger" (click)="excluirEvento(eventoSelecionado);">Excluir</button>
</div>

<div [hidden]="tela!='eventoExcluido'">
    <h2>Excluir Evento</h2>
    <div *ngIf="eventoSelecionado" id="eventoExcluido" class="alert alert-success">
        <button type="button" class="close" (click)="tela='home';">
            <span aria-hidden="true">&times;</span>
        </button>
        Id: {{eventoSelecionado.id}}<br/>
        Evento: {{eventoSelecionado.sigla}}<br/><br/>
        <b>Excluido com sucesso!</b>
    </div>
    <button type="button" class="btn btn-primary" (click)="tela='home';">Voltar</button>
</div>