<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" (click)="clickHome(); formCadastro.reset()">Home</a>
				</li>
				<li>
					<a href="#" (click)="clickEventos(); formCadastro.reset()">Eventos</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<h2>nav</h2>
<section [hidden]="!home">
	<div class="row">
		<div class="col-lg-12">
			<div class="well text-center">
				<h3>Acompanhe Nossos Próximos Eventos</h3>
			</div>
		</div>
	</div>
	
	<div *ngFor="let evento of xhttp.arq; let i=index" >
		<div class="col-lg-4 col-md-4 col-sm-4 text-center" *ngIf="i < 3">
			<a (click)="clickEvento(evento)">
				<h2>{{evento.nome}}</h2>
				<p>{{evento.sigla}} - de {{evento.inicio}} a {{evento.termino}}</p>
			</a>
			<hr/>
			<hr/>
		</div>
	</div>
	
	<div class="col-md-12" style="text-align: center;">
		<a (click)="clickEventos()">
			<h2>Ver Todos os Eventos Cadastrados</h2>
			<p>{{xhttp.tamanho}} Eventos Cadastrados</p>
		</a>
	</div>
</section>
<section [hidden]="!eventosb">
	<div class="panel panel-default">
		<div class="col-lg-12">
			<div class="well text-center">
				<h3>Acompanhe Nossos Eventos</h3>
				<button class="btn btn-success" (click)="clickCadastrar()">Cadastrar um Novo Evento</button>
			</div>
		</div>
	  <table class="table">
		<thead>
		  <tr>
			<th>Nome do Evento</th>
			<th>Sigla</th>
			<th>Cidade</th>
			<th>Estado</th>
		  </tr>
		</thead>
		<tbody>
		
		  <tr *ngFor="let evento of xhttp.arq">
			<a (click)="clickEvento(evento)"> 
				<td>{{ evento.nome }}</td>
			</a>
				<td>{{ evento.sigla}}</td>
				<td>{{ evento.cidade}}</td>
				<td>{{ evento.estado}}</td>
			</tr>
		</tbody>
	  </table>
	</div>
</section>
<section [hidden]="!eventob">
	<div *ngIf="eventoSelecionado" class="text-center">
		<div class="col-lg-12">
			<div class="well">
				<h3>{{eventoSelecionado.sigla}}</h3>
				<hr/>
				<h4>{{eventoSelecionado.nome}}</h4>
			</div>
		</div>
		
		<div class="col-lg-12 well">
			<p [hidden]="!eventoSelecionado.inicio">De {{eventoSelecionado.inicio}} a {{eventoSelecionado.termino}}</p>
			<p [hidden]="!eventoSelecionado.cidade">em {{eventoSelecionado.cidade}} - {{eventoSelecionado.estado}},</p>
			<p [hidden]="!eventoSelecionado.local">no(a) {{eventoSelecionado.local}}.</p>
			<p>Mais informações no site <a [href]="eventoSelecionado.url">{{eventoSelecionado.url}}</a>.</p>
			<hr/>
			<button class="btn btn-warning" (click)="editarEvento(eventoSelecionado); clickCadastrar();"><i class='glyphicon glyphicon-pencil'></i></button>
			<button class="btn btn-danger" (click)="clickCerteza();"><i class='glyphicon glyphicon-remove'></i></button>
		</div>
		
		
	</div>
</section>
<section [hidden]="!certeza">
	<div class="col-md-8 text-center" style="background-color: #ccc; margin-left: 20%;">
		<h2>Você Está Prestes a Excluir o Evento.</h2>
		<button type="button" class="btn btn-primary" (click)="clickExcluir(); excluirEvento(eventoSelecionado); clickEventos();">Excluir Evento</button>
	</div>
</section>
<section [hidden]="!cadastrar">
	<h2>Cadastro de eventos</h2>
	<div>
		<form (ngSubmit)="onSubmit()" #formCadastro="ngForm">
			<div class="form-group">
				<label for="nome">Nome</label>
				<input type="text" id="nome" name="nome" class="form-control"
					[(ngModel)]="evento.nome" #nome="ngModel"
					placeholder="Nome do evento" required>
				<div class="alert alert-danger" [hidden]="nome.valid || nome.pristine">Você deve informar o nome do evento.</div>
			</div>

			<div class="form-group">
				<label for="sigla">Sigla</label>
				<input type="text" id="sigla" name="sigla" class="form-control"
					[(ngModel)]="evento.sigla" #sigla="ngModel"
					placeholder="Sigla do evento" required>
				<div class="alert alert-danger" [hidden]="sigla.valid || sigla.pristine">Você deve informar a sigla do evento.</div>
			</div>

			<div class="form-group">
				<label for="data-inicio">Data de Inicio</label>
				<!--<input type="date" id="data-inicio" name="data-inicio" class="form-control"
					[(ngModel)]="evento.inicio" #sigla="ngModel" placeholder="Digite a data de inicio do evento." required>-->
				<input type="date" id="data-inicio" name="data-inicio" class="form-control" [(ngModel)]="evento.inicio" #sigla="ngModel" placeholder="" data-mask="99/99/9999" required>
			</div>

			<div class="form-group">
				<label for="data-fim">Data de Término</label>
				<!--<input type="date" id="data-fim" name="data-fim" class="form-control"
					[(ngModel)]="evento.termino" #sigla="ngModel" placeholder="Digite a data de fim do evento." required>-->
				<input type="date" id="data-fim" name="data-fim" class="form-control" [(ngModel)]="evento.termino" #sigla="ngModel" placeholder="" data-mask="99/99/9999" required>
			</div>

			<div class="form-group">
				<label for="url">URL</label>
				<input type="text" id="url" name="url" class="form-control"
					[(ngModel)]="evento.url" #sigla="ngModel" placeholder="Ex.: https:\\www.evento.com.br" required>
			</div>

			<div class="form-group">
				<label for="cidade">Cidade</label>
				<input type="text" id="cidade" name="cidade" class="form-control"
					[(ngModel)]="evento.cidade" #sigla="ngModel" placeholder="Cidade do Evento" required>
			</div>

			<div class="form-group">
				<label for="estado">Estado</label>
				<input type="text" id="estado" name="estado" class="form-control"
					[(ngModel)]="evento.estado" #sigla="ngModel" placeholder="Estado do Evento" required>
			</div>

			<div class="form-group">
				<label for="local">Local</label>
				<input type="text" id="local" name="local" class="form-control"
					[(ngModel)]="evento.local" #sigla="ngModel" placeholder="Local do Evento" required>
			</div>

			<button type="submit" class="btn btn-success" [disabled]="!formCadastro.form.valid" (click)="clickEventos(); ">Salvar</button>
			<button type="button" class="btn btn-default" (click)="novoEvento(); formCadastro.reset()">Novo</button>
		</form>
	</div>
</section>

<br/>


