<h1>Cadastrar Programação</h1>

<div class="alert alert-success" *ngIf="status" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
  <strong>Sucesso! </strong> Programação CADASTRADA com sucesso.
</div>

<form (ngSubmit)="save()" #formCadastro="ngForm">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="programacao.nome" #nome="ngModel" placeholder="Nome da programacao"
            required>
    </div>

    <div class="form-group">
        <label for="local">Local</label>
        <input type="text" id="local" name="local" class="form-control" [(ngModel)]="programacao.local" #nome="ngModel" placeholder="Local da programacao"
            required>
    </div>

    <div class="form-group">
        <label for="datahorainicio">Data/Hora Inicio</label>
        <input type="datetime-local" id="datahorainicio" name="datahorainicio" class="form-control" [(ngModel)]="programacao.datahorainicio"
            #nome="ngModel" placeholder="Data/Hora Inicio da programacao" required>
    </div>

    <div class="form-group">
        <label for="datahoratermino">Data/Hora Termino</label>
        <input type="datetime-local" id="datahoratermino" name="datahoratermino" class="form-control" [(ngModel)]="programacao.datahoratermino"
            #nome="ngModel" placeholder="Data/Hora Termino da programacao" required>
    </div>

    <div class="form-group">
        <label for="descricao">Descricao</label>
        <textarea type="textarea" id="descricao" name="descricao" class="form-control" [(ngModel)]="programacao.descricao" #nome="ngModel"
            placeholder="Descricao da programacao" required> </textarea>
    </div>


    <div *ngIf="artigos" class="form-group">
        <label for="artigo">Artigo</label>
        <select id="artigo" name="artigo" class="form-control" [(ngModel)]="programacao.artigo" #estado="ngModel" >
                <option value="">Selecione um Artigo</option>
                <option *ngFor="let artigo of artigos" [value]="artigo.id">{{artigo.titulo}}</option>
            </select>
    </div>

    <div class="form-group">
        <label for="palestra">Palestra</label>
        <select id="palestra" name="palestra" class="form-control" [(ngModel)]="programacao.palestra" #estado="ngModel" >
                <option value="">Selecione um Palestra</option>
                <option *ngFor="let palestra of palestras" [value]="palestra.id">{{palestra.tema}}</option>
            </select>
    </div>
    <button class="btn btn-success" [disabled]="!formCadastro.form.valid" (click)="save();formCadastro.reset(); ">Salvar</button>
    <button type="button" *ngIf="!idProgramacao" class="btn btn-default" (click)="formCadastro.reset()">Novo</button>
</form>