<div class="row">

    <div class="col-lg-12">
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 center-text">
        <img style="max-width:270px; max-height: 270px;" class="borderimg" src="../../assets/images/angular.png" alt="Imagem Perfil">
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12  profile">

        <div class="row">
            <div class="col-lg-8">
                <label>Nome Completo</label>
                <inline-editor type="text" [(ngModel)]="usuario.nome"></inline-editor>

                <label>Email</label>
                <inline-editor type="text" [(ngModel)]="usuario.email"></inline-editor>
                
                <label>Endereço</label>
                <inline-editor type="text" [(ngModel)]="usuario.endereco"></inline-editor>
                
                <label>Telefone</label>
                <inline-editor type="number" placeholder="Informe seu telefone" [(ngModel)]="usuario.telefone"></inline-editor>
            </div>
        </div>
        <div class="botoes">
            <button class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Alterar Senha</button>
            <button class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
        </div>
        <div class="clear"></div>
    </div>
</div>