<h2>Palestrantes</h2>
<button class="btn btn-primary opcoes" style="margin-bottom: 8px;" (click)="cadastrarPalestrante();"><i class="fa fa-plus" aria-hidden="true"></i><b> Novo</b></button>


<div class="alert alert-success alert-dismissible fade show" *ngIf="status" role="alert">
  <button type="button" class="close" data-dismiss="alert" (click)="status=false" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Sucesso!</strong> O palestrante removido.
</div><br/>

<div class="alert alert-danger alert-dismissible fade show" *ngIf="msgErro!=''" role="alert">
  <button type="button" class="close" data-dismiss="alert" (click)="msgErro=''" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Erro!</strong> {{msgErro}}.
</div><br/>


<div class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-secondary" aria-haspopup="true" aria-expanded="false">
      Filtro
    </button>
  </div>
  <input type="text" id="filtro" class="form-control" aria-label="Text input with button" [(ngModel)]="filtro">
</div>

<table *ngIf="!(palestrantes == '')" class="table table-stripped table-hover table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Filiação</th>
            <th>Link Lattes</th>
            <th>Site</th>
            <th>Mini Biografia</th>
            <th>Título da Palestra</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let palestrante of filtrar()">
            <td scope="row">{{palestrante.id}}</td>
            <td>{{palestrante.nome}}</td>
            <td>{{palestrante.email}}</td>
            <td>{{palestrante.filiacao}}</td>
            <td>{{palestrante.linkLattes}}</td>
            <td>{{palestrante.site}}</td>
            <td class="miniBiografia">{{palestrante.miniBiografia}}</td>  
            <td>{{palestrante.palestra.nome}}</td>
            <td id="opcoes">
                <button class="btn btn-warning opcoes" (click)="editarPalestrante(palestrante);"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn btn-danger opcoes" (click)="palestranteSelecionado = palestrante" data-toggle="modal" data-target="#confirmarExclusao"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<nav aria-label="Paginacao" *ngIf="!(palestrantes == '')" id="paginacao-palestrantes">
  <ul class="pagination">
    <li class="page-item">
      <button class="page-link" (click)="escolherPagina(0)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    <span *ngFor="let i of totalPaginas">
      <li class="page-item"><button id="pagina-{{i+1}}" class="page-link" (click)="escolherPagina(i);">{{i+1}}</button></li>
    </span>
    <li class="page-item">
      <button class="page-link" (click)="escolherPagina(this.numPaginas-1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Fim</span>
      </button>
    </li>
  </ul>
</nav>

<div *ngIf="(palestrantes == '')">
    <br/>
    <h4>Não foram encontrados há palestrantes</h4>
</div>

<!-- Confirmar Exclusão -->
<div class="modal fade" id="confirmarExclusao" tabindex="-1" role="dialog" aria-labelledby="confirmarExclusaoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmarExclusaoLabel">Confirmar Exclusão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir o palestrante <strong>{{palestranteSelecionado.nome}}</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary" (click)="excluirPalestrante(palestranteSelecionado);"  data-dismiss="modal">Salvar</button>
      </div>
    </div>
  </div>
</div>