<h1>Inscrição no evento</h1>
<hr>
<h4>Cadastro inscritos</h4>
<br>
<form (ngSubmit)="salvar()" #formCadastro="ngForm">

  <div class="form-group">
    <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="usuario.nome" #nome="ngModel" placeholder="Nome do inscrito" required>
    <div class="alert alert-danger" [hidden]="nome.valid || !nome.touched">Você deve informar o nome do inscrito.</div>
  </div>
  <div class="form-group">
    <input type="text" id="email" name="email" class="form-control" [(ngModel)]="usuario.email" #nome="ngModel" placeholder="E-mail do inscrito" required>
    <!--ERRO AQUI <div class="alert alert-danger" [hidden]="email.valid || !email.touched">Você deve informar o E-mail do inscrito.</div>-->
  </div>
  <br>
  <hr>
  <button class="btn btn-success" [disabled]="!formCadastro.form.valid" (click)="salvar();formCadastro.reset(); ">Salvar</button>
  <button type="button" class="btn btn-danger" (click)="formCadastro.reset();cancelar()">Cancelar</button>
</form>
  