<div class="col-md-12 col-sm-12 col-lg-12">
    <div *ngIf="salvo" [ngClass]="'alert alert-success'"> Evento <strong>{{nomeEvento}}</strong>, Salvo com Sucesso. </div>
    <div *ngIf="error" [ngClass]="'alert alert-danger'"> Ops, houve um erro ao tentar Salvar Evento!</div>
    <h1 class="p-0">{{title}}</h1>
    <hr>
</div>

<div class="col-md-12 col-sm-12 col-lg-12">
    <form #formCadastro="ngForm">
        <div class="row">
            <div class="col-md-9">
                <label for="exampleInputEmail1">Título do Evento</label>
                <input type="text" class="form-control" placeholder="Título do Evento" id="nome" name="nome" #nome="ngModel" [(ngModel)]="evento.nome" #nome="ngModel"
                    required minlength="5" maxlength="60" required>
                    <div class="help-block-error" [hidden]="nome.valid || nome.pristine">x Você deve informar o nome do evento.</div>
            </div>
            <div class="col-md-3">
                <label for="exampleInputEmail1">Sigla</label>
                <input type="text" class="form-control" placeholder="Sigla do Evento" id="sigla" name="sigla" [(ngModel)]="evento.sigla" #sigla="ngModel" required>
                <div class="help-block-error" [hidden]="sigla.valid || sigla.pristine">x Você deve informar uma sigla para o evento.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="exampleInputEmail1">Descrição</label>
                <textarea class="form-control" rows="7" placeholder="Descrição do Evento" id="descricao" name="descricao" [(ngModel)]="evento.descricao"></textarea>
            </div>
        </div>
        <div class="row">
             <div class="col-md-4">
                <label for="exampleInputEmail1">Local</label>
                <input type="text" class="form-control" id="local" name="local" [(ngModel)]="evento.local"  #local="ngModel" required>
                <div class="help-block-error" [hidden]="local.valid || local.pristine">x Você deve Informar o Local.</div>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">Estado</label>
                <select class="form-control" id="estadoId" name="estadoId" [(ngModel)]="evento.estadoId" (change)="getCidades($event.target.value)" #estadoId="ngModel" required>
                    <option> Selecione o Estado</option>
                    <option *ngFor="let estado of estados" value="{{estado.id}}" (click)="getCidades(estado.id)"> {{estado.nome}}</option>
                </select>
                <div class="help-block-error" [hidden]="estadoId.valid || estadoId.pristine">x Você deve Selecione o Estado.</div>
            </div>

            <div class="col-md-4">
                <label for="exampleInputEmail1">Cidade</label>
                <select class="form-control" id="cidadeId" name="cidadeId" [(ngModel)]="evento.cidadeId" #cidadeId="ngModel" required>
                    <option> Selecione a Cidade</option>
                    <option *ngFor="let cidade of cidades" [ngValue]="cidade.id"> {{cidade.nome}}</option>
                </select>
                <div class="help-block-error" [hidden]="cidadeId.valid || cidadeId.pristine">x Você deve Selecione a Cidade.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="exampleInputEmail1">Data Início</label>
                <input type="text" class="form-control" placeholder="Data Início" id="inicio" name="inicio" [(ngModel)]="evento.inicio" #inicio="ngModel" required>
                <div class="help-block-error" [hidden]="inicio.valid || inicio.pristine">x Você deve informar a data de inicio.</div>
            </div>

            <div class="col-md-3">
                <label for="exampleInputEmail1">Data Término</label>
                <input type="text" class="form-control" placeholder="Data Término" id="termino" name="termino" [(ngModel)]="evento.termino" #termino="ngModel" required>
                <div class="help-block-error" [hidden]="termino.valid || termino.pristine">x Você deve informar a data de término.</div>
            </div>

            <div class="col-md-6">
                <label for="exampleInputEmail1">Palavras-chave</label>
                <input type="text" class="form-control" placeholder="Palavras-chave" id="palavras_chave" name="palavras_chave" [(ngModel)]="evento.palavras_chave">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" class="form-control" id="usuarioId" name="usuarioId" [(ngModel)]="evento.usuarioId">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <button *ngIf="evento.id" type="submit" class="btn btn-success" (click)="atualizar()" [disabled]="!formCadastro.form.valid">Atualizar</button>
                <button *ngIf="!evento.id" type="submit" class="btn btn-success" (click)="salvar()" [disabled]="!formCadastro.form.valid">Adicionar</button>
                <button *ngIf="!evento.id" type="button" class="btn btn-default" [routerLink]="['../']">Fechar</button>
                <button *ngIf="evento.id" type="button" class="btn btn-default" [routerLink]="['../../']">Fechar</button>
            </div>
        </div>
    </form>
</div>

<app-dialog [(visible)]="showModal">
    <h1>Acesso Negado</h1>
    <p>Você não tem Permissão para acessar esse Evento. </p>
    <button (click)="gotoEventos()" class="btn">OK</button>
</app-dialog>

<my-usuarios></my-usuarios>