.bar-search{
    padding: 5px 0 0 0;
    float: right;
    width: 100%;
}

.p-0{
    padding: 0 !important;
}

.btn, a{
    cursor: pointer;
}

.resumoregistros{
    color: grey;
    font-style: italic;
    font-size:14px;
    padding: 5px 0; 
}