<div class="container">
	<form (ngSubmit)="onSubmit()" #formCadastro="ngForm">
		<h1>Editar Estado</h1>
		<div class="form-group">
			<label for="nome">Nome</label>
			<input type="text" id="nome" name="nome" class="form-control"
				[(ngModel)]="estado.nome" #nome="ngModel"
				placeholder="Nome do estado" required>
			<div class="alert alert-danger" [hidden]="nome.valid || nome.pristine">Você deve informar o nome do estado.</div>
		</div>
	
		<div class="form-group">
			<label for="uf">UF</label>
			<input type="text" id="uf" name="uf" class="form-control"
				[(ngModel)]="estado.uf" #uf="ngModel"
				placeholder="Uf do stado" required>
			<div class="alert alert-danger" [hidden]="uf.valid || uf.pristine">Você deve informar a uf do estado.</div>
		</div>
		<button type="submit" class="btn btn-default" [disabled]="!formCadastro.form.valid">Salvar</button>
		<button class="btn btn-default"(click)="telaHome()">Cancelar</button>
	</form>
</div>