/* You can add global styles to this file, and also import other style files */
.navbar {
    margin-top: 30px;
    margin-bottom: 30px;
}
#button-login{
    margin-left: 45vw !important;
}
#button-login li{
    margin-right: 5px;
}

td[id="opcoes"]{
    display: inline-flex;
}

button.opcoes{
    padding: 2px 6px;
    margin-right: 5px;
}

td.miniBiografia{
    max-width: 448px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}