#img{
    width: 160px;
    padding: 30px;
}
#div-img{
    text-align: center;
}
#form-login{
    margin: 0 auto;
}

/*.loader {
    z-index: 12;
    margin-left: -77px;
    margin-right: 60px;
    display: inline-block;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/